bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
FitPlanner.sln.DotSettings.user
.idea/.idea.FitPlanner/.idea/vcs.xml
.idea/.idea.FitPlanner/.idea/indexLayout.xml
.idea/.idea.FitPlanner/.idea/encodings.xml
.idea/.idea.FitPlanner/.idea/dictionaries/Caio.xml
